html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown {
    text-align: center;
}


.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
}

.val {
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;
    font-weight: bold;
    color: #f00;
}


#cd-day::after {
    content: 'gün';
    font-size: 4vw;
}


#cd-hour::after {
    content: 'saat';
    font-size: 4vw;
}


#cd-minute::after {
    content: 'dakika';
    font-size: 4vw;
}


#cd-second::after {
    content: 'saniye';
    font-size: 4vw;
}

